@import "reset.scss","component.scss","header.scss", "work.scss", "footer.scss";

.message{
background-color: $main;
margin-top: 126px;
@include mq(500px){
  margin-top: 50px;
}
&_inner{
  max-width: 1354px;
  padding: 160px 34px 140px;
  margin: 0px auto;
  @include mq(768px){
    padding: 160px 34px 60px;
  }
}
&_title{
  color: $white;
  font-family: "Noto Sans JP";
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.9rem;
  @include mq(990px){
    font-size: 3.8rem;
    line-height: 5.2rem;
  }
  @include mq(768px){
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
}
&_info{
  color: $white;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 59px; /* 156% */
  letter-spacing: 1px;
  padding-left: 4px;
  @include mq(768px){
    font-size: 1.6rem;
  }
}
&_text{
  color: $white;
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.3rem;
  letter-spacing: 0.272rem;
  max-width: 612px;
  max-height: 205px;
  flex-shrink: 0;
  margin-top: 80px;
  margin-left: auto;
  @include mq(768px){
    font-size: 1.5rem;
    line-height: 3.3rem;
    font-weight: 400;
  }
}
}

.about_message{
  background-color: $main;
}

.aboutme{
&_inner{
  display: flex;
  justify-content: space-between;
  max-width: 1352px;
  padding: 100px 34px 81px;
  margin: 0 auto;
  @include mq(768px){
    flex-direction: column-reverse;
    max-width: 480px;
  }
  @include mq(500px){
    padding: 100px 14px 81px;
  }
}
&_content2{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 27px;
  @include mq(768px){
    margin-top: 30px;
    margin-right: 0px;
  }
}
&_heading2{
  color: $white;
  background-color: $main;
  font-family: "Noto Sans JP";
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.7rem;
  letter-spacing: 0.5rem;
  padding: 1.2rem 2.8rem;
  width: fit-content;
  @include mq(1030px){
    font-size: 2.4em;
    line-height: 4.8rem;
  }
  &2{
    color: $white;
    background-color: $main;
    font-family: "Noto Sans JP";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.7rem;
    letter-spacing: 5.6px;
    padding: 1.4rem;
    max-width: 280px;
    margin-top: 20px;
    @include mq(1030px){
      font-size: 2.4em;
      line-height: 4.8rem;
      max-width: 220px;
    }
  }
  }
&_text2{
  color: #111;
  font-family: "Noto Sans JP";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.4rem;
  margin-top: 34px;
  @include mq(1030px){
    font-size: 1.5rem;
    line-height: 3.0rem;
  }
  @include mq(500px){
    font-size: 1.3rem;
    padding: 0px 16px;
  }
}
&_button{
  margin-top: 120px;
  width: 241px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  @include mq(990px){
    margin-top: 70px;
  }
}
&_button_text{
  color: #111;
  font-family: "BIZ UDPGothic";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2px;
}
&_img{
  width: 45%;
  max-width: 448px;
  height: 100%;
  @include mq(768px){
    width: 100%;
    display: none;
  }
  &_sp{
    display: none;
    @include mq(768px){
      display: block;
    }
  }
}
}

.work2{
  background-color: $back;
  padding: 0px 34px 80px;
  @include mq(500px){
    padding: 0px 14px 80px;
  }
  &_inner{
    max-width: 1284px;
    margin: 0 auto;
  }
  &_heading{
    background-color: $orange;
    color: $white;
    font-family: "Noto Sans JP";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.7rem;
    letter-spacing: 5.6px;
    display: inline-flex;
    padding: 13px 32px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
    @include mq(500px){
      font-size: 1.9rem;
      margin-top: 50px;
    }
  }
  &_wrapper{
    display: flex;
    gap: 2rem;
    grid-template-columns: 50% 50%;
    margin-top: 60px;
    justify-content: space-between;
    margin-top: 50px;
    @include mq(768px){
      display: block;
    }
    @include mq(500px){
      padding: 0px 16px;
      margin-top: 52px;
    }
  }
  &_card{
    display: flex;
    background-color: $white;
    border-radius: 20px;
    max-width: 520px;
    padding: 10px 10px 40px;
    max-width: 620px;
    height: auto;
    box-shadow: 1px 2px 3px #c3c3c3;
    border: 2px solid $main;
    @include mq(768px){
      flex-direction: column-reverse;
      margin-bottom: 40px;
    }
  }
  &_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 26px 33px 0px;
    @include mq(1230px){
      // max-width: 330px;
    }
    @include mq(500px){
      padding-left: 24px;
    }
  }
  &_info{
    color: #111;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.0rem;
    letter-spacing: 0.96rem;
  }
  &_lead{
    color: #111;
    font-family: "Noto Sans JP";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    margin-top: 0.6rem;
    @include mq(990px){
      font-size: 1.9rem;
      line-height: 2.5rem;
    }
  }
  &_text{
    font-family: "Noto Sans JP";
    font-size: 1.5rem;
    padding-top: 21px;
    line-height: 3.2rem;
  }
  &_label{
    background-color: $main;
    color: $white;
    display: inline-flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 140px;
    margin-top: 3.3rem;
    @include mq(990px){
      margin-top: 1.3rem;
    }
  }
  &_button{
    margin-top: 5.1rem;
    width: 241px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(990px){
      margin-top: 3.1rem;
    }
  }
  &_button_text{
    color: $black;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.12rem;
  }
  &_thumbnail{
    width: 100%;
    flex-shrink: 0;
    display: inline-block;
    border-radius: 0px 20px 20px 0px;
    @include mq(990px){
      height: 100%;
    }
    @include mq(768px){
      border-radius: 20px;
      padding-left: 0px;
    }
    &_work{
      text-align: center;
    }
  }
}

