html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  background-color: #FAFAFA;
}

li {
  list-style-type: none;
}

.header {
  margin-top: 27px;
  margin-left: 48px;
  margin-right: 48px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .header {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 500px) {
  .header {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
@media (max-width: 990px) {
  .header__nav {
    display: none;
  }
}
.header__inner {
  background-color: #17A59E;
  display: flex;
  justify-content: space-between;
  padding: 24px 60px;
  border-radius: 40px;
  max-width: 1764px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .header__inner {
    padding: 13px 30px;
  }
}
@media (max-width: 500px) {
  .header__inner {
    padding: 10px 20px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__item {
  color: #FAFAFA;
  font-family: "Noto Sans JP";
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  padding-right: 32px;
}
.header__link {
  color: #FAFAFA;
  display: flex;
  padding-bottom: 2px;
  position: relative;
}
.header__link::before {
  background: #FAFAFA;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -10px;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.header__link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
@media (max-width: 768px) {
  .header_logo_item {
    width: 180px;
  }
}
@media (max-width: 500px) {
  .header_logo_item {
    width: 160px;
  }
}

.headersp {
  display: none;
}
@media (max-width: 990px) {
  .headersp {
    display: block;
    align-items: center;
    margin-left: auto;
  }
}
@media (max-width: 990px) {
  .headersp_hamburger {
    width: 74px;
    height: 40px;
    cursor: pointer;
    margin: 0 auto;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
}
@media (max-width: 990px) and (max-width: 500px) {
  .headersp_hamburger {
    width: 50px;
  }
}
@media (max-width: 990px) {
  .headersp_hamburger span {
    display: block;
    margin: 0;
    border: none;
    width: 50%;
    height: 2px;
    background: #FAFAFA;
    transform-origin: 0% 50%;
    position: absolute;
    top: 10px;
    left: 25%;
    transition: 0.3s;
  }
}
@media (max-width: 990px) and (max-width: 500px) {
  .headersp_hamburger span {
    height: 2px;
    width: 30px;
    left: 11px;
  }
}
@media (max-width: 990px) {
  .headersp_hamburger span:nth-of-type(2) {
    top: 17px;
  }
}
@media (max-width: 990px) {
  .headersp_hamburger span:nth-of-type(3) {
    top: 24px;
  }
}
.sp_nav {
  display: none;
  z-index: -1;
}
.sp_nav.open_menu {
  display: block;
}
.sp_menu {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 34px;
  background: #17A59E;
  color: #FAFAFA;
  z-index: 1;
  list-style: none;
  padding-top: 150px;
  height: 611px;
  transform: translateY(-100%);
  transition: transform 0.4s;
}
.sp_menu.open_menu {
  display: block;
  transform: translateY(0px);
  height: 100vh;
  overflow-y: scroll;
}
.sp_link {
  font-size: 5rem;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #FAFAFA;
  padding-bottom: 2px;
  position: relative;
}
.sp_link::before {
  background: #FAFAFA;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -10px;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.sp_link:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
@media (max-width: 500px) {
  .sp_link {
    font-size: 3.6rem;
  }
}
.sp_item {
  font-family: "Noto Sans JP";
  padding-right: 8px;
  padding-bottom: 40px;
  transition: opacity 0.1s;
  color: #FAFAFA;
}
.sp_item:hover {
  opacity: 1.2;
}
.sp_item:nth-child(1) {
  padding-left: 0px;
}
.sp_span {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  font-size: 14px;
}

.close span {
  left: 30%;
}
.close span:nth-of-type(1) {
  transform: rotate(45deg);
  width: 50%;
  top: 0px;
}
@media (max-width: 500px) {
  .close span:nth-of-type(1) {
    width: 20px;
  }
}
.close span:nth-of-type(2) {
  opacity: 0;
}
.close span:nth-of-type(3) {
  top: 26px;
  transform: rotate(-45deg);
  width: 50%;
}
@media (max-width: 500px) {
  .close span:nth-of-type(3) {
    width: 20px;
    top: 14px;
  }
}

.close span {
  left: 30%;
}
.close span:nth-of-type(1) {
  transform: rotate(45deg);
  width: 50%;
  top: 0px;
}
@media (max-width: 500px) {
  .close span:nth-of-type(1) {
    width: 20px;
  }
}
.close span:nth-of-type(2) {
  opacity: 0;
}
.close span:nth-of-type(3) {
  top: 26px;
  transform: rotate(-45deg);
  width: 50%;
}
@media (max-width: 500px) {
  .close span:nth-of-type(3) {
    width: 20px;
    top: 14px;
  }
}/*# sourceMappingURL=header.css.map */